{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- SEO Meta Title  -->
<title>{{blog_info.blog_name}}</title>
<!-- Meta Description -->
<meta name="description" content="{{blog_info.description}}" />
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to my Django homepage</h1>
      <p class="lead">Here you can find information about my projects and experience.</p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/homegify.gif' %}" alt="Programmer Typing" class="img-fluid">
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Python Code Example</h2>
      <pre>
        <code class="python">
          def hello_world():
            print("Hello World!")
        </code>
      </pre>
    </div>
    <div class="col-md-6">
      <h2>Keyboard Typing Animation</h2>
      <div class="keyboard-animation">
        <div class="keyboard-animation__keys"></div>
        <div class="keyboard-animation__cursor"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
